<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySQL Database</title>

    <style>
        body {
            text-align: center;
            font-size: 24px;
        }
        th {
            border-bottom: 2px solid rgb(184, 184, 184);
        }
        th, td {
            padding: 5px;
        }
        table {
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Hello MySQL Database & Template Engine</h1>

    <!-- สร้างตารางสำหรับแสดงข้อมูล -->
    <!-- data ข้อมูลทั้งหมดถูกวนลูป โดยแต่ละรอบเก็บข้อมูลในตัวแปร item -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>dept_name</th>
                <th>salary</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((item)=>{ %>
                <tr>
                    <td><%=item.ID%></td>
                    <td><%=item.name%></td>
                    <td><%=item.dept_name%></td>
                    <td><%=item.salary%></td>
                </tr>
        
            <% }); %>
        </tbody>
        
    </table>
</body>
</html>